#home-page {
  margin: 0;
}

@media (min-width: 0px) {
  .card-deck .card {
    margin: 10px 0;
    color: inherit;
  }
}

.card-link :hover {
  text-decoration: none;
  color: inherit;
}

.card-body {
  font-size: 90%;
  padding: 8px 8px;
}

.card-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 112%;
}

#listing-type {
  font-weight: normal;
  font-size: 75%;
  color: rgb(100, 100, 100);
}

.marker-content, .popover {
  position: absolute;
  display: inline-block;
  transform: translate(-50%, 0); 
  color: initial;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border-radius: 1.5em;
  border: 1.5px solid rgb(200, 200, 200);
  background-color: white;
  padding: 5px;
  cursor: pointer;
}

.popover {
  width: 200px;
  border-radius: 1em;
  border: 0px;
  box-shadow: 6px 6px 12px -12px #777, -6px 6px 12px -12px #777;
  overflow-wrap: break-word;
  display: none;
  padding: 0px;
  transform: translate(-50%, -105%); 
}

.marker-content:hover, .hovered {
  transform: translate(-50%, 0) scale(1.2);
}

.mapboxgl-marker:hover, .hover {
  z-index: 10;
}

.mapboxgl-marker:hover .popover {
  display: inline-block;
}

#map {
  margin-top: 10px;
  padding: 0;
}

#map-box {
  position: sticky;
  top: 0px;
}

#map-controls {
  position: absolute;
  top: 10px;
  right: 10px;
}